/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; font-family : Open Sans; }

body {
  background-color: #f9f9f9;
}

.sitemap {
  text-align: center;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width: 48em;
  margin: 3em auto 2em;
}

.header-layout {
  background: #d35400;
  color: #fff;
  font-size: 32px;
  min-height: 300px;
  width: 100%;
}

.site .footer .profilepic {
  float: left;
  position: relative;
}

.site .footer {
  font-size: 90%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  min-height: 250px;
}
.posts {
  min-height: 250px;
}
.post pre {
  border: 1px solid #ddd;
  padding: 0 .4em;
  color: #113377;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post ul {
  margin-left: 3em;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
