---
layout: default
title: Study
---

<div id="home">
  <p class="lead sitemap">
    <a href="/"><span class="muted">Home</span></a> | 
    <a href="/about"><span class="muted">About</span></a> | 
    <a href="/blog"><span class="muted">Blog</span></a> | 
    <a href="/study"><span class="text-success">Study</span></a> | 
    <a href="/article"><span class="muted">Article</span></a> | 
    <a href="#footer"><span class="muted">Contact</span></a>
  </p>
  <div class="posts">
    {% for post in site.posts %}
      {% if post.cat == 'Study' %}
      <a href="{{ post.url }}"><span class="text-success">[{{ post.cat }}]</span><span class="muted">[{{ post.date | date_to_string }}]</span>&nbsp;<span><strong>{{ post.title }}</strong></span></a>
      <p><small><em>{{ post.description }}</em></small></p>
      {% unless forloop.last %}
      <hr/>
      {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
</div>
